@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2563eb;
  --color-secondary: #fff;
}

li > a {
  @apply hover:underline decoration-blue-600 hover:text-blue-600 cursor-pointer;
}

.active{
  @apply underline decoration-blue-600 text-blue-600 
}
